* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;

}

body {
  background-color: black;
}

header {
  border: 1px solid white;
  border-radius: 1em;
  background-image: url(/image/albulena-panduri-wnSZ-4cZep8-unsplash.jpg);

}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.hero {
  text-align: center;
  font-size: x-large;
  
}

#name {
  color: #EC23FF;
}

.profile_text {
  width: 50%;

}

div.profile_text p {
  color: white;
}

.about {
  color: white;
}

.my_work {
  color: white;
}

.contacts {
  color: white;
}